<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid> 
    <ion-col class="ion-text-center">
      <h3>History</h3>
    </ion-col>
  </ion-grid>

  <ion-list class="ion-no-margin ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <h2 class="ion-text-center">Date</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <h2 class="ion-text-center">Hours</h2>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item *ngFor="let sh of shifts">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <h2 class="ion-text-center">{{ sh.date | date }}</h2>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <h2 class="ion-text-center">{{ sh.hours }}</h2>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>



</ion-content>
